In [13]:
# Import packages
import pandas as pd
import os
from sqlalchemy import create_engine

In [6]:
# Create engine connection
    # parameters
user = "root"
password = "root"
port = "5432"
host = "localhost"
db = "ny_taxi"

engine_string = f'postgresql://{user}:{password}@{host}:{port}/{db}'
engine_connection = create_engine(engine_string)

In [8]:
# Get data
url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
output_file_name = "taxi_lookup.csv"

 # download file from web
os.system(f"wget {url} -O {output_file_name}")

--2024-01-24 13:22:09--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.81.238, 52.216.8.149, 52.217.129.8, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.81.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_lookup.csv’

     0K .......... ..                                         100% 87.5M=0s

2024-01-24 13:22:10 (87.5 MB/s) - ‘taxi_lookup.csv’ saved [12322/12322]

0

In [15]:
# Create data base
    # read file
df = pd.read_csv('taxi_lookup.csv')

table_name = "zones"

    # create schema
df.head(n=0).to_sql(name = table_name, con = engine_connection, if_exists = 'replace')

0

In [16]:
df.to_sql(con = engine_connection, name = table_name, if_exists = 'append')

265